<div >
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <h1>Memorial Information</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>
                Enter letter/number that is in index:
            </h2>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <p>1st</p>
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <p>4th</p>
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <p>7th</p>
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>